.test-header{
  width: 100vw;
  height: 100vh;
}

.test-title{
  padding-top:64px;
  text-align: center;
  font-size:40px;
}

.test-content{
  margin-top: 100px;
  padding: 20px;
}

.message1 {
  background-color: #5dca88;
  padding: 15px 40px;
  /* カーソルの形をpointerにしてください */
  cursor: pointer;
  /* box-shadowをつけてください */
  box-shadow: 0 7px #1a7940;
}

.message1:active {
  box-shadow: none;
  position:relative;
  top: 7px;
}


.message2{
  background-color: #F25A8C;
  padding: 15px 40px;
  /* カーソルの形をpointerにしてください */
  cursor: pointer;
  /* box-shadowをつけてください */
  box-shadow: 0 7px #1a7940;
}

.message2:active{
  box-shadow: 0 14px #F25A8C;
  position: relative;
  bottom: 7px;
}

.message3{
  background-color: blue;
  padding: 20px;
  /* カーソルの形をpointerにしてください */
  cursor: pointer;
  /* box-shadowをつけてください */
  border: 7px solid #1a7940;
  border-radius: 100%;
}

.message3:active{
  border-radius: 100%;
  padding: 40px;
}


// test

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
}

.lesson-wrapper {
  /* heightを削除してください */
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}































