<div class="about-main">
  <h2>Hi there!</h2>
    <p>This web site is the atelier by me, nozomi, who didn't get to even touch‐type, but long for a frontend engineer. I'll put my works made struggled. The word, atelier, is already cool eh?</p>
　　 <p>このウェブサイトはブラインドタイピングもできなかった僕、希のウェブデザイナー憧れ、奮闘してつくった作品のアトリエです。アトリエって言葉がもうかっこいいでしょ？</p>
  <br>
  <br>
  <%= image_tag 'tokyo.png', alt:"about", class: 'about-img' %>
</div>
