<div class="test">
  <div class="test-header">
      <div class="test-title">
        <h1>testing page</h1>
        <h6>9/29の研究はボタンについて</h6>
      </div>
      <div class="test-content">
        <span class="btn message1">click!</span>
        <span class="btn message2">push</span>
        <span class="btn message3">pull</span>
      </div>
  </div>
</div>
