<div class="main">
  <div class="top-message top-main">
    <h2>Nozomi Ishii</h2>
    <p>Dance + Coffee + Coding = Me!!!</p>
  </div>
  <div class="atelier">
    <h3>Atelier</h3>
    <p>Coming soon...</p>
  </div>
  <div class="nozomiwho">
    <p></p>
  </div>
</div>

