<div class="news">
  <p>news: new contents are coming soon!!</p>
</div>
<div class="main">
  <div class="title">
    <h2>Nozomi Ishii</h2>
    <p>Dance + Coffee + Coding = Me!!!</p>
  </div>
</div>


<div class="lab">
  <div class="heading">
    <h3> - Fancy coming see my lab? - </h3>
  </div>
  <div style="text-align: center">
    <a href="/test" class="go-to-lab">GO!!</a>
  </div>
  <div class="previous">
  </div>
</div>


<div class="atelier">
  <div class="heading">
    <h3> - Atelier - </h3>
  </div>
  <div class="cards">
    <div class="card">
      <a href="https://rtou.herokuapp.com/" target="_blank">
        <%= image_tag 'rtou.png', alt:"rtou", class: 'card-icon' %>
      </a>
      <p>R to U</p>
    </div>
    <div class="card">
      <a href="https://teachmeleagon.herokuapp.com/" target="_blank">
        <%= image_tag 'teachme.png', alt:"teachme", class: 'card-icon' %>
      </a>
      <p>Teach me</p>
    </div>
    <div class="card">
      <br>
      <br>
      <br>
      <p>
        ...and more coming soon. <br>
        stay tuned.
      </p>
    </div>
  </div>
</div>


<div class="who">
  <div class="heading">
    <h3> - Nozomi who? - </h3>
  </div>
  <%= image_tag 'profile.jpg', alt:"Nozomi Ishii", class: 'whophoto' %>
  <div class="whotext">
    <h1>NOZOMI ISHII</h1>
    <p>
      石井希・フロントエンドエンジニア見習い<br>
      大学在学中にイギリス、カナダ、アメリカに語学留学、大学交換留学。<br>
      卒業後、オーストラリア、ニュージーランドにワーキングホリデーでカフェでバリスタとして働く。<br>
      日本人ゼロの環境の中、ヘッドバリスタを任される。<br>
      ラテアート作りにもりもりとのめり込み2018年3月Coffee fest latte art world championshipに競技者として選出される。
      自分のカフェを開くのを夢見て、まずは自分でカフェのホームページをつくろうとプログラミングを勉強し始める。そしてハマる。<br>
      <br>
      バリスタよりプログラミングの方が楽しくなってしまったのでプログラミング学校　Le Wagon Tokyoにて Rubyを軸としたウェブアプリケーション制作を学ぶ。<br>
      就活でAppleのTechnical Specialistとして採用。<br>
      まんまとネームブランドに惹かれプログラミングから一時離れる。<br>
      <br>
      Apple Summer Camp にてコーディングを小学生に教えるサポートしながらプログラミング熱が再加熱。<br>
      独学にてRubyとRailsを中心にweb page製作を学んでいます。<br>
      React, Reduxもめきめき学びにいっています。<br>
      フロントエンドに特に魅力を感じでいてawwwards.やCSS WINNERをめざしていきます。<br>
      よろしくお願いします！
    </p>
  </div>
</div>


<div class="contact-form">
  <div class="heading">
    <h3> -Contact - </h3>
  </div>
  <p>Name</p>
  <input type="text">
  <p>Email</p>
  <input type="text">
  <p>Message</p>
  <textarea name="" id="" cols="30" rows="10" >まだ送信の機能はできていません...</textarea>
  <br>
  <input class='contact-submit' type="submit" value='submit'>
</div>

<script>
  $(function() {
    $('h2').css('display', 'none').fadeIn(3000);
    $('p').css('display', 'none').fadeIn(3100);
  });
</script>

