/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* common layout ================================ */
body {
  color: #2d3133;
  margin: 0;
  min-height: 1vh;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* header ================================ */
header {
  height: 64px;
  z-index: 10;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: #4E5E2C;
  font-size: 22px;
  line-height: 64px;
}

.header-logo a{
  color: #4E5E2C;
  font-size: 22px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: #4E5E2C;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: #4E5E2C;
}
.header-menus a:hover{
  float: left;
  font-size: 15px;
  color: #4E5E2C;
  transition: all 0.5;
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: #4E5E2C;
  margin: 0;
  font-size: 13px;
}

/* top ================================ */
.top-main {
  width: 100vw;
  padding: 0 15px;
  margin: auto;
  text-align: center;
}

.top-main h2 {
  font-size: 70px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px;
}

.top-main p {
  font-size: 24px;
}

.main{
  padding: 200px 0 100px;
  width: 100vw;
  height: 100vh;
  background-image:url('https://picsum.photos/1920/1080/?random');
  background-position: center 50%;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

/* atelier ================================ */
.atelier {
  height: 100vh;
}
.atelier h3 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px;
  padding: 200px 0 100px;
  text-align: center;
  min-height: 100%;
}

.cards{
  text-align: center;
}

.card{
  display:inline-block;
  width: 30%;
  padding: 0 15px;
}

.card-icon{
  width: 97%;
  opacity: 1;
  border-radius: 2px;
}
.card-icon:hover{
  width: 100%;
  opacity: 0.8;
  border-radius: 2px;
  transition: all 0.5s;
}

.card p {
  text-align: center;
}


/* who ================================ */
.who {
  text-align: center;
}

.who h3 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-top: 250px;
  margin-bottom: 50px;
  text-align: center;
  min-height: 100%;
}
.whophoto {
  height:20%;
  width:20%;
  border-radius:50%;
}
.whotext h1 {
  font-size:26px;
  text-align: center;
  margin-top:20px;
}

.whotext p{
  display:inline-block;
  text-align: left;
  font-size: 16px;
  padding: 50px 300px 300px 300px;
}




/* about ================================ */
.about-main {
  padding: 180px 8% 0;
  color: #5C5C5C;
}

.about-main h2 {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.4;
}

.about-main p {
  font-weight: 200;
  font-size: 20px;
}

.about-img {
  width: 84vw;
}

/* form ================================ */
.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.form-body {
  padding: 30px;
}

.form-error {
  color: #ff4d75;
}

.form input {
  width: 100%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
}

.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  letter-spacing: 2px;
}

.form input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
  float: right;
}

.form-body:after {
  content: '';
  display: table;
  clear: both;
}

/* flash ================================ */
.flash {
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

/* cv ================================ */

.cv{
  width: 50vw;
  text-align: center;
  margin: auto ;
  padding-top: 100px;
}

/* contact ================================ */

.contact-form h3 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-top: 250px;
  margin-bottom: 50px;
  text-align: center;
  min-height: 100%;
}

.contact-form {
  padding-top: 100px;
  text-align: center
}

.section-title {
  padding-bottom: 15px;
  margin-bottom: 50px;
}

input, textarea {
  width: 500px;
  margin: 10px 0px 30px 0px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit{
  background-color:#dee7ec;
  color: #889eab;
  text-align: center;
  margin-bottom:300px;
}


/* cards ================================ */
.cards {
  margin: 20px;
}

.item {
  width: 33%;
  padding: 0 15px;
  float: left;
}

.item-box {
  height: 200px;
  margin-bottom: 20px;
}

.rtou {
  background-image:url("rtou");
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
}

.teachme {
  background-image:url("teachme");
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
}



@media (max-width: 1000px) {
  .header-menus a{
    width: 10vw;
  }
  .item {
    width: 100%;
    margin-bottom: 100px;
  }
  .item-box p {
    margin-top: 20px;
    padding-top: 20px;
    font-size: 27px;
    text-align: center;
  }
  .whotext p {
    width: 90%;
    font-size: 27px;
    padding: 100px 30px;
  }
}
