/* reset ================================ */
$olive: #4E5E2C;
$orenge: #DEAF3F;
$black: #5C5C5C;
$blue: #00818A;
$pink:#F18A77;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $black;
  font-size: 16px;
}

/* common layout ================================ */
body {
  color: $black;
  margin: 0;
  min-height: 1vh;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.title h2 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  min-height: 100%;
}

.heading h6 {
  font-size: 24px;
  text-align: center;
}

/* header ================================ */
header {
  height: 64px;
  z-index: 10;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
}

#logo a{
  color: $olive;
  float: left;
  padding-left: 20px;
  font-size: 22px;
  line-height: 64px;
}
.header-menus {
  float: right;
  padding-right: 20px;
  li {
    float: left;
    line-height: 64px;
    font-size: 16px;
    color: $olive;
    padding-left: 15px;
  }
  a {
    float: left;
    font-size: 14px;
    color: $olive;
    &:hover{
      float: left;
      font-size: 15px;
      color: $olive;
      transition: all 0.5;
    }
  }
}
/* top ================================ */
.news{
  width:100vw;
  color: white;
  position: absolute;
  top:64px;
  height: 40px;
  line-height: 40px;
  text-align:center;
  background-color:rgba(222, 175, 63, 0.8);
}
.main {
  display:flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-image:url('start');
  background-position: center 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  .title{
    width:100%;
    text-align: center;
    h1 {
      font-size: 70px;
      font-weight: 500;
      line-height: 1.3;
      -webkit-font-smoothing: antialiased;
    }
    p {
      font-size: 24px;
    }
  }
}

/* lab ================================ */
.lab{
  .title{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
      text-align: center;
    }
    h6{
      text-align: center;
      padding-top:5vh;
      display:none;
    }
  }

  .codes{
    display: flex;
    border: 1px solid red;
    justify-content:center;
    align-items: flex-start;
    height: 50vh;
    paddging:20px;
    .code{
      display:flex;
      flex-direction: column;
      img{
        width: 20vw;
        &:hover{
          transform: translate(10px, -10px);
          transition:0.5s;
        }
      }
      p{
        text-align: center;
        display:none;
      }
    }
  }
}



/* atelier ================================ */
.atelier {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.cards{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.card{
  flex: auto;
  width: 30%;
  padding: 10px;
  p {
    text-align: center;
  }
}

.card-icon{
  width: 97%;
  opacity: 1;
  border-radius: 2px;
  &:hover{
    width: 100%;
    opacity: 0.8;
    border-radius: 2px;
    transition: all 0.5s;
  }
}

.rtou {
  background-image:url("rtou");
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
}

.teachme {
  background-image:url("teachme");
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
}

/* who ================================ */
.who {
  text-align: center;
}

.whophoto {
  height:20%;
  width:20%;
  border-radius:50%;
}

.whotext {
  h1 {
    font-size:26px;
    text-align: center;
    margin-top:20px;
  }
  p{
    display:inline-block;
    text-align: left;
    font-size: 16px;
    padding: 50px 300px 300px 300px;
  }
}


/* about ================================ */
.about-main {
  padding: 180px 8% 0;
  color: #5C5C5C;
  h2 {
    font-size: 64px;
    font-weight: 500;
    line-height: 1.4;
  }
  p {
    font-weight: 200;
    font-size: 20px;
  }
}

.about-img {
  width: 84vw;

}

/* cv ================================ */
.cv{
  width: 50vw;
  text-align: center;
  margin: auto ;
  padding-top: 100px;
}

/* contact ================================ */
.contact-form {
  text-align: center
}

input, textarea {
  width: 50vw;
  margin: 10px 0px 30px 0px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit{
  background-color:#dee7ec;
  color: #889eab;
  text-align: center;
  margin-bottom:300px;
}

/* footer ================================ */
footer {
  display:flex;
  flex-direction:column;
  align-items:center;
  .links ul{
    display:none;
  }
  #tip ul{
    display: flex;
    height:10vh;
    line-height: 10vh;
    border: 1px solid red;
    li{
      margin: 5px;
      padding: 25px;
      display:flex;
      align-items: center;
    }
  }
  #copyright {
    height: 10vh;
    display:flex;
    flex-direction:column;
    align-content: flex-end;
    p{
      margin-top: 5vh;
      border: 1px solid red;
    }
  }
}

.paypal{
  background-color: $orenge;
  border-radius: 5px;
  box-shadow: 0 7px #DE941B;
  &:hover{
    opacity: 0.9;
  }
  &:active{
    box-shadow: none;
    position: relative;
    top:6px;
  }
  a{
    color:white;
  }
}

