/* media query  ================================ */
$olive: #4E5E2C;
$orenge: #DEAF3F;
$black: #5C5C5C;
$blue: #00818A;
$pink:#F18A77;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $black;
  font-size: 16px;
}
/* iPad  ================================ */
@media all and (max-width: 1000px)  {
/* atelier ================================ */
  .card{
    width: 50%;
  }

/* who ================================ */
  .whotext p {
    width: 90%;
    font-size: 18px;
    padding: 100px 30px;
  }
}

/* iPhone  ================================ */
@media all and (max-width: 670px) {
/* common layout ================================ */
  .heading h3 {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 20px;
    padding: 200px 0 100px;
    text-align: center;
    min-height: 100%;
  }

/* header ================================ */
  .header-menus{
    display: none;
  }
  footer{
    .links ul{
      height: 40vh;
      color: #4E5E2C;
      font-size: 25px;
      display:flex;
      flex-wrap:wrap;
      border: 1px solid red;
      bordr
      a {
        flex:auto;
        border: 1px solid red;
      }
    }
    #copyright p{
      text-align: center;
    }
  }
// codes====================================
  .codes{
    display: flex;
    border: 1px solid red;
    height: 50vh;
    paddging: 0;
    .code{
      display:flex;
      flex-direction: column;
      img{
        width: 20vw;
        &:hover{
          transform: translate(10px, -10px);
          transition:0.5s;
        }
      }
      p{
        text-align: center;
        display:none;
      }
    }
  }



/* who ================================ */
  .whophoto {
    width:60%;
    border-radius:50%;
  }

  .whotext p {
    width: 90%;
    font-size: 18px;
    padding: 100px 30px;
  }
/* atelier ================================ */
  .cards{
    flex-direction: column;
  }

  .card{
    width: 100%;
  }
/* contact ================================ */
  input, textarea {
    width: 80%;
    margin: 10px 0px 30px 0px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
  }
}

